<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adam Bagnall - Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <span>Adam Bagnall</span>
        </div>
        <nav>
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('experience') }}">Experience</a>
            <a href="{{ url_for('projects') }}">Projects</a>
            <a href="{{ url_for('contact') }}">Contact</a>
        </nav>
    </header>

    <div class="container">
        <div class="profile-image">
            <img src="{{ url_for('static', filename='Headshot.png') }}" alt="Adam Bagnall">
        </div>
        <div class="bio">
            <h1>Adam Bagnall</h1>
            <p>
                Hi, I'm Adam Bagnall, a recent college graduate based in Chicago. In the spring of 2024, I earned my Bachelor's in Informatics from Indiana University-Bloomington at the Luddy School of Informatics. Additionally, I completed a cognate in business and a minor in criminal justice while taking extra cybersecurity classes to deepen my understanding of this rapidly evolving field.
            </p>
        </div>
        <div class="buttons">
            <a href="{{ url_for('home') }}" class="resume">Home</a>
            <a href="{{ url_for('skills') }}">Skills</a>
            <a href="{{ url_for('experience') }}" class="research">Experience</a>
            <a href="{{ url_for('projects') }}" class="outreach">Projects</a>
            <a href="{{ url_for('contact') }}" class="personal">Contact</a>
        </div>
    </div>

    <div class="visitor-counter">
        <p>Visitors: {{ visitor_count }}</p>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>